body{

    background-image:url(Images/index_BG.jpg);
  
  }


  .LOGO {
    position: absolute;
    top: 40px;
    right: 60px;
  }

  .wacht {

    font-size: 23px;
    position: absolute;
    bottom: 700px; 
    left: 460px;
    color: #000000;

  }

  .bon {

    font-size: 23px;
    position: absolute;
    bottom: 600px; 
    left: 760px;
    color: #000000;

  }
  
  
  .middle {
    
    max-width: 168px;
    margin: 50px auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  
  
  }
  
  
  .ja {
    position: absolute;
    left: 750px;
    top: 500px;
    display: inline-block;
    padding: 15px 25px;
    font-size: 20px;
    cursor: pointer;
    text-align: center; 
    text-decoration: none;
    outline: none;
    color: #000000;
    background-color: #bbb9b9;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #e26d7c;
  }
  
  .ja:hover {background-color: #ffc4cc}
  
  .ja:active {
    background-color: #ffffff;
    box-shadow: 0 5px #f08aa3;
    transform: translateY(4px);
  }
  
   
  .nee {
    position: absolute;
    left: 1050px;
    top: 500px;
    display: inline-block;
    padding: 15px 25px;
    font-size: 20px;
    cursor: pointer;
    text-align: center; 
    text-decoration: none;
    outline: none;
    color: #000000;
    background-color: #bbb9b9;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #e26d7c;
  }
  
  .nee:hover {background-color: #ffc4cc}
  
  .nee:active {
    background-color: #ffffff;
    box-shadow: 0 5px #f08aa3;
    transform: translateY(4px);
  }
  

